
@font-face {
  font-family: "SFProDisplay-Regular";
  src: url('../fonts/SF-Pro-Display-Regular.otf') format("opentype");
}
@font-face {
  font-family: "SFProDisplay-Medium";
  src: url('../fonts/SF-Pro-Display-Medium.otf') format("opentype");
}
@font-face {
  font-family: "SFProDisplay-Heavy";
  src: url('../fonts/SF-Pro-Display-Heavy.otf') format("opentype");
}

.bp1-home {
  width               : 100%;
  min-width           : 1340px;
  height              : 100vh;
  min-height          : 949px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(239, 234, 227, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.bp1-home .bp1-landing {
  background-color    : rgba(255,255,255,0.0);
  width               : 1139px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-home .bp1-landing-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 58px;
  align-items         : center;
  height              : 851px;
  width               : 100%;
  position            : relative;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp1-home .bp1-landing .bp1-downloadontheappstorebadgeusukrgbblk092917 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 625px;
  height              : 56px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-home .bp1-landing .bp1-description {
  background-color    : rgba(255,255,255,0.0);
  top                 : 318px;
  height              : 293px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-home .bp1-landing .bp1-description .bp1-scheduleallyourtr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 77px;
  height              : auto;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(102, 93, 84, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp1-home .bp1-landing .bp1-description .bp1-organizealltripin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 298px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 29.0px;
}
.bp1-home .bp1-landing .bp1-tripsy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 209px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Heavy", Helvetica, Arial, serif;
  font-size           : 66.0px;
  color               : rgba(51, 43, 35, 1.0);
  text-align          : left;
  line-height         : 79.0px;
}
.bp1-home .bp1-landing .bp1-icon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 200px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-home .bp1-landing .bp1-devices {
  background-color    : rgba(255,255,255,0.0);
  right               : 0%;
  top                 : 0%;
  height              : 851px;
  width               : 594px;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-home .bp1-landing .bp1-social {
  background-color    : rgba(255,255,255,0.0);
  top                 : 751px;
  height              : 63px;
  width               : 386px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-home .bp1-landing .bp1-social .bp1-instagram {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 24px;
  width               : 117px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-home .bp1-landing .bp1-social .bp1-instagram .bp1-instagram1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(102, 93, 84, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp1-home .bp1-landing .bp1-social .bp1-instagram .bp1-glyphlogomay2016 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-home .bp1-landing .bp1-social .bp1-instagram .bp1-glyphlogomay2016 .bp1-group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-home .bp1-landing .bp1-social .bp1-instagram .bp1-glyphlogomay2016 .bp1-group3 .bp1-group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-home .bp1-landing .bp1-social .bp1-instagram .bp1-glyphlogomay2016 .bp1-fill4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-home .bp1-landing .bp1-social .bp1-instagram .bp1-glyphlogomay2016 .bp1-fill5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-home .bp1-landing .bp1-social .bp1-twitter {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 24px;
  width               : 93px;
  position            : absolute;
  margin              : 0;
  left                : 147px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-home .bp1-landing .bp1-social .bp1-twitter .bp1-twitter1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(102, 93, 84, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp1-home .bp1-landing .bp1-social .bp1-twitter .bp1-twitterlogoblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-home .bp1-landing .bp1-social .bp1-twitter .bp1-twitterlogoblue .bp1-path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 24px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-home .bp1-landing .bp1-social .bp1-followus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(178, 163, 148, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp3-home768 {
  width               : 100%;
  min-width           : 768px;
  height              : 100vh;
  min-height          : 1490px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(239, 234, 227, 1.0);
}
div {
  -webkit-text-size-adjust: none;
}
.bp3-home768 .bp3-landing {
  background-color    : rgba(255,255,255,0.0);
  width               : 515px;
  margin-right        : -0px;
  height              : 100%;
  pointer-events      : auto;
  margin-left         : 0px;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-home768 .bp3-landing-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 106px;
  align-items         : center;
  height              : 739px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp3-home768 .bp3-landing .bp3-downloadontheappstorebadgeusukrgbblk092917 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 550px;
  height              : 56px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-home768 .bp3-landing .bp3-description {
  background-color    : rgba(255,255,255,0.0);
  top                 : 318px;
  height              : 218px;
  width               : 515px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-home768 .bp3-landing .bp3-description .bp3-scheduleallyourtr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : auto;
  width               : 515px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(102, 93, 84, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp3-home768 .bp3-landing .bp3-description .bp3-organizealltripin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 479px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 29.0px;
}
.bp3-home768 .bp3-landing .bp3-tripsy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 209px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Heavy", Helvetica, Arial, serif;
  font-size           : 66.0px;
  color               : rgba(51, 43, 35, 1.0);
  text-align          : left;
  line-height         : 79.0px;
}
.bp3-home768 .bp3-landing .bp3-icon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 200px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-home768 .bp3-landing .bp3-social {
  background-color    : rgba(255,255,255,0.0);
  top                 : 676px;
  height              : 63px;
  width               : 386px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-home768 .bp3-landing .bp3-social .bp3-instagram {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 24px;
  width               : 117px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-home768 .bp3-landing .bp3-social .bp3-instagram .bp3-instagram1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(102, 93, 84, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp3-home768 .bp3-landing .bp3-social .bp3-instagram .bp3-glyphlogomay2016 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-home768 .bp3-landing .bp3-social .bp3-instagram .bp3-glyphlogomay2016 .bp3-group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-home768 .bp3-landing .bp3-social .bp3-instagram .bp3-glyphlogomay2016 .bp3-group3 .bp3-group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-home768 .bp3-landing .bp3-social .bp3-instagram .bp3-glyphlogomay2016 .bp3-fill4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-home768 .bp3-landing .bp3-social .bp3-instagram .bp3-glyphlogomay2016 .bp3-fill5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-home768 .bp3-landing .bp3-social .bp3-twitter {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 24px;
  width               : 93px;
  position            : absolute;
  margin              : 0;
  left                : 147px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-home768 .bp3-landing .bp3-social .bp3-twitter .bp3-twitter1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(102, 93, 84, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp3-home768 .bp3-landing .bp3-social .bp3-twitter .bp3-twitterlogoblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-home768 .bp3-landing .bp3-social .bp3-twitter .bp3-twitterlogoblue .bp3-path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 24px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-home768 .bp3-landing .bp3-social .bp3-followus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(178, 163, 148, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp3-home768 .bp3-devices {
  background-color    : rgba(255,255,255,0.0);
  width               : 331px;
  margin-right        : 92px;
  height              : 100%;
  pointer-events      : auto;
  margin-left         : -92px;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-home768 .bp3-devices-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 936px;
  align-items         : center;
  height              : 476px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp2-home320 {
  width               : 100%;
  min-width           : 320px;
  height              : 100vh;
  min-height          : 1490px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(240, 234, 228, 1.0);
}
div {
  -webkit-text-size-adjust: none;
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 647px;
  height              : 56px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 56px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 56px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group2 .bp2-shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 56px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group2 .bp2-shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 54px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 36px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group1 .bp2-group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 31px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group1 .bp2-group21 .bp2-group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 31px;
  width               : 26px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group1 .bp2-group21 .bp2-group31 .bp2-path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 23px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group1 .bp2-group21 .bp2-group31 .bp2-path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 7px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group1 .bp2-group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 23px;
  width               : 106px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group1 .bp2-group3 .bp2-shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 17px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group1 .bp2-group3 .bp2-shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 17px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group1 .bp2-group3 .bp2-shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 17px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group1 .bp2-group3 .bp2-shape3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group1 .bp2-group3 .bp2-shape4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 16px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group1 .bp2-group3 .bp2-shape5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 13px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group1 .bp2-group3 .bp2-shape6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 13px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 87px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group .bp2-group1 .bp2-group3 .bp2-shape7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 13px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 10px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group4 .bp2-group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 98px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group4 .bp2-group1 .bp2-shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 9px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group4 .bp2-group1 .bp2-shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 7px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group4 .bp2-group1 .bp2-shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 6px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group4 .bp2-group1 .bp2-shape3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 7px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group4 .bp2-group1 .bp2-shape4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 9px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group4 .bp2-group1 .bp2-shape5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 7px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group4 .bp2-group1 .bp2-shape6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 7px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group4 .bp2-group1 .bp2-shape7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 9px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group4 .bp2-group1 .bp2-shape8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 7px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group4 .bp2-group1 .bp2-shape9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 7px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group4 .bp2-group1 .bp2-shape10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 8px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group4 .bp2-group1 .bp2-shape11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 9px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 85px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-downloadontheappstorebadgeusukrgbblk092917 .bp2-group4 .bp2-group1 .bp2-shape12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 7px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-social {
  background-color    : rgba(255,255,255,0.0);
  top                 : 743px;
  height              : 168px;
  width               : 117px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-social .bp2-instagram {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : 24px;
  width               : 117px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-social .bp2-instagram .bp2-instagram1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(102, 93, 84, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp2-home320 .bp2-social .bp2-instagram .bp2-glyphlogomay2016 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-social .bp2-instagram .bp2-glyphlogomay2016 .bp2-group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-social .bp2-instagram .bp2-glyphlogomay2016 .bp2-group3 .bp2-group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-social .bp2-instagram .bp2-glyphlogomay2016 .bp2-fill4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-social .bp2-instagram .bp2-glyphlogomay2016 .bp2-fill5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-social .bp2-followus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(178, 163, 148, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp2-home320 .bp2-social .bp2-twitter {
  background-color    : rgba(255,255,255,0.0);
  top                 : 96px;
  height              : 24px;
  width               : 93px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-social .bp2-twitter .bp2-twitter1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(102, 93, 84, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp2-home320 .bp2-social .bp2-twitter .bp2-twitterlogoblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-social .bp2-twitter .bp2-twitterlogoblue .bp2-path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 24px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-description {
  background-color    : rgba(255,255,255,0.0);
  top                 : 381px;
  height              : 264px;
  width               : calc(100.00% - 83px);
  position            : absolute;
  margin              : 0;
  left                : calc(0.00% + 41px);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-description .bp2-scheduleallyourtr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 237px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(102, 93, 84, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp2-home320 .bp2-description1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 274px;
  height              : 102px;
  width               : calc(100.00% - 83px);
  position            : absolute;
  margin              : 0;
  left                : calc(0.00% + 41px);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-description1 .bp2-organizealltripin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 228px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 29.0px;
}
.bp2-home320 .bp2-tripsy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 195px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Heavy", Helvetica, Arial, serif;
  font-size           : 50.0px;
  color               : rgba(51, 43, 35, 1.0);
  text-align          : left;
  line-height         : 60.0px;
}
.bp2-home320 .bp2-icon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : 123px;
  width               : 123px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-icon .bp2-smoothcorners {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 117px;
  width               : 117px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-icon .bp2-rectangle5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 13px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-icon .bp2-rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 36px;
  height              : 65px;
  width               : 90px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-icon .bp2-rectangle2 {
  background-color    : rgba(242, 235, 227, 1.0);
  top                 : 35px;
  height              : 66px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 85px;
  border-radius       : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-icon .bp2-rectangle21 {
  background-color    : rgba(242, 235, 227, 1.0);
  top                 : 35px;
  height              : 66px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  border-radius       : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-icon .bp2-rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : 2px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 85px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-icon .bp2-rectangle61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : 2px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-icon .bp2-smoothcorners1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 117px;
  width               : 117px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-home320 .bp2-devices {
  background-color    : rgba(255,255,255,0.0);
  top                 : 924px;
  height              : 382px;
  width               : 265px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@media screen and (max-width: 767px) {
  .bp2-home320 {
    display             : block;
  }
  .bp3-home768 {
    display             : none;
  }
  .bp1-home {
    display             : none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1339px) {
  .bp2-home320 {
    display             : none;
  }
  .bp3-home768 {
    display             : block;
  }
  .bp1-home {
    display             : none;
  }
}
@media screen and (min-width: 1340px) {
  .bp2-home320 {
    display             : none;
  }
  .bp3-home768 {
    display             : none;
  }
  .bp1-home {
    display             : block;
  }
}